@import "tailwindcss";

:root {
  --text: #070607;
  --background: #faf9fa;
  --primary: #8f7d96;
  --secondary: #bcacb1;
  --accent: #af9d9b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}