@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Bungee', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html,body{
  /* overflow-x: hidden; */
}

:root {
  --text: #050316;
  --background: #f5eae5;
  --primary: #fe90e8;
  --secondary: #c5a3ff;
  --accent: #e7f193;
}

@layer utilities {
  .text-primary {
    color: var(--primary);
  }
  .bg-primary {
    background-color: var(--primary);
  }

  .text-secondary {
    color: var(--secondary);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }
  .font-bungee {
    font-family: var(--font-bungee), sans-serif;
  }

  .font-spectral {
    font-family: var(--font-spectral), serif;
  }
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-text: var(--text);
  --color-accent: var(--accent);
}