@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}

html,body{
  overflow-x: hidden;
}

:root {
  --text: #050316;
  --background: #f5eae5;
  --primary: #fe90e8;
  --secondary: #c5a3ff;
  --accent: #e7f193;
}

@layer utilities {
  .text-primary {
    color: var(--primary);
  }
  .bg-primary {
    background-color: var(--primary);
  }

  .text-secondary {
    color: var(--secondary);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-text: var(--text);
  --color-accent: var(--accent);
}